## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [2]:
!head Data/countries_info.csv

"head" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [3]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [9]:
# Write your code here
happiness = pd.read_csv(HAPPINESS_DATASET)
countries = pd.read_csv(COUNTRIES_DATASET)

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify to have all the rows in the final dataframe

In [23]:
# Write your code here
happiness['country'] = happiness['country'].str.lower()
country_features = pd.merge(happiness, countries,
    left_on='country',
    right_on='country_name')


country_features

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,country_name,area,population,literacy
0,afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,afghanistan,647500,31056997,"36,0"
1,albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,albania,28748,3581655,"86,5"
2,algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,algeria,2381740,32930091,"70,0"
3,argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,argentina,2766890,39921833,"97,1"
4,armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,armenia,29800,2976372,"98,6"
...,...,...,...,...,...,...,...,...,...,...,...,...
130,venezuela,5.0532,0.890408,66.505341,0.623278,-0.169091,0.837038,Latin America and Caribbean,venezuela,912050,25730435,"93,4"
131,vietnam,5.3535,0.849987,67.952736,0.939593,-0.094533,0.796421,Southeast Asia,vietnam,329560,84402966,"90,3"
132,yemen,3.5274,0.817981,56.727283,0.599920,-0.157735,0.800288,Middle East and North Africa,yemen,527970,21456188,"50,2"
133,zambia,3.7594,0.698824,55.299377,0.806500,0.078037,0.801290,Sub-Saharan Africa,zambia,752614,11502010,"80,6"
134,zimbabwe,3.2992,0.763093,55.617260,0.711458,-0.072064,0.810237,Sub-Saharan Africa,zimbabwe,390580,12236805,"90,7"

## Task 3: Where do people are happier?

Print the top 10 countries based on their happiness score (high is better).

In [34]:
# Write your code here
sorted_country_feats = country_features.sort_values('happiness_score')
countries = sorted_country_feats.tail(10)
countries['country']

72      luxembourg
6          austria
88     new zealand
114         sweden
87     netherlands
92          norway
50         iceland
115    switzerland
31         denmark
38         finland
Name: country, dtype: object

We are interested to know in what world region the people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [55]:
# Write your code here
f = {'country':['count'], 'happiness_score':['mean']}
country_features.groupby('world_region').agg(f).sort_values(('happiness_score',  'mean'), ascending = False)

                                   country happiness_score
                                     count            mean
world_region
North America and ANZ                    4        7.173525
Western Europe                          20        6.967405
Latin America and Caribbean             20        5.971280
Central and Eastern Europe              14        5.891393
Southeast Asia                           8        5.517788
East Asia                                3        5.483633
Commonwealth of Independent States      12        5.358342
Middle East and North Africa            16        5.269306
Sub-Saharan Africa                      32        4.393856
South Asia                               6        4.355083

The first region has only a few countries! What are them and what is their score?

In [61]:
# Write your code here
country_features2 = country_features[country_features['world_region'] =='North America and ANZ']
country_features2 = country_features2[['world_region', 'country', 'happiness_score']]
country_features2

              world_region        country  happiness_score
5    North America and ANZ      australia           7.2228
21   North America and ANZ         canada           7.2321
88   North America and ANZ    new zealand           7.2996
127  North America and ANZ  united states           6.9396

## Task 4: How literate is the world?

Print the name of countries with a level of literacy of 100%. 

For each country, print the name and the world region with the format: *{region name} - {country name} ({happiness score})*

In [ ]:
# Write your code here

What is the global average?

In [ ]:
# Write your code here

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [ ]:
# Write your code here

Print the raw number and the percentage of world population that is illiterate.

In [ ]:
# Write your code here

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [ ]:
# Write your code here

What is the happiness score of the 3 countries with lowest population density?

In [ ]:
# Write your code here

## Task 6: Healty and happy?

Plot in scatter plot the happiness score (x) and healty life expectancy (y).

In [ ]:
# Write your code here

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.